[*.md]
indent_style = space
indent_size = 2

[*.{xml,csproj}]
indent_style = space
indent_size = 4

[*.{xaml,axaml}]
indent_style = space
indent_size = 2

[*.cs]
resharper_local_variable_hides_member_highlighting = hint
resharper_redundant_default_member_initializer_highlighting = hint